<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons> -->
    <ion-title>Bienvenido</ion-title>
  
  </ion-toolbar>
</ion-header>


<ion-content >

  <h3   class="titulopagina" >Lista Productos</h3>

  <div class="div-redondeado" *ngFor="let item of this.datos">
    <ion-grid >
      <ion-row>
        <ion-col size-xs="10"   >
         <div class="tarjeta_nombre">   {{ item.nombre }}    </div>  
         <div class="tarjeta_info">     {{ item.codigo }}     </div>
         <div class="tarjeta_info">     {{ item.productos_familia }}  </div>          
        </ion-col>
<!--         
        <ion-col size-xs="2"   >
       
          <div> <a href="/menu/remitente/{{item.name}}">  <ion-icon color="dark"  class="icon-grande"  name="create-outline" ></ion-icon> </a>  </div>
          <div> <ion-icon class="icon-grande"  color="danger"  name="trash-outline" (click)="presentAlertConfirm(item.name)"  ></ion-icon></div>
       </ion-col>
-->

      </ion-row>
    </ion-grid> 
  </div> 
</ion-content>
