<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons> -->
    <ion-title>Bienvenido</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Initial 'opacity: 0' and timer just to fix list flicker issue especially on Android -->
      <ion-col >
dfdfdfdfdf 
      </ion-col> 
      <ion-col >
        eeee
              </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>
