<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>   
    <ion-grid  >
           <ion-row> 
              <ion-col  size-xs="12" offset-sm="3" size-sm="6"  offset-md="3" size-md="6"  offset-xl="4" size-xl="3">  
                <div class="formlogin">
                  <form [formGroup]="loginForm">
                  <div style="margin-top: -20px!important;"  >   <ion-label   style="font-size: 15px;color:#2b72e0 !important"> 
                    <ion-text   style="font-size: 70px;color:#2b72e0 !important">.</ion-text>
                    Ingresa con tu usuario y contraseña  </ion-label> </div>
               
                  <ion-input formControlName="username"  required type="text" style="height: 37px; margin-top: 10px; border-radius: 0px!important; 
                   border: 1px solid #ececec;font-size: 14px;"  placeholder="Nombre de Usuario"  ></ion-input>                     
                    
                  <ion-input (keyup.enter)="onClick()"  required type="password" style="height: 37px; margin-top: 20px; border-radius: 0px!important; 
                   border: 1px solid #ececec;font-size: 14px;"  placeholder="Contraseña"  formControlName="password"  ></ion-input> 
                 
                  <ion-button style="height: 37px; margin-top: 20px; margin-bottom: 20px;  " expand="full"  (click)="onClick()" [disabled]="!loginForm.valid" > Ingresar</ion-button>
                </form>
                </div>    

            </ion-col>                    
         </ion-row>

    </ion-grid>

 
 

</ion-content>